.head{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}


table {
    width: 500px;
    align-self: center;
}

th{
    text-align: left;
}

table, th, td {
    border: 1px solid rgb(214, 243, 160);
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

tr:nth-child(even){
    background-color: rgb(71, 135, 231);
}

tr:nth-child(odd){
    background-color: aquamarine;
}